name: "Copilot Setup Steps"

# Automatically run the setup steps when they are changed to allow for easy validation, and
# allow manual testing through the repository's "Actions" tab
on:
  workflow_dispatch:

jobs:
  # The job MUST be called `copilot-setup-steps` or it will not be picked up by Copilot.
  copilot-setup-steps:
    runs-on: ubuntu-latest

    # Set the permissions to the lowest permissions possible needed for your steps.
    # Copilot will be given its own token for its operations.
    permissions:
      # If you want to clone the repository as part of your setup steps, for example to install dependencies, you'll need the `contents: read` permission. If you don't clone the repository in your setup steps, Copilot will do this for you automatically after the steps complete.
      contents: read
      packages: read

    # You can define any steps you want, and they will run before the agent starts.
    # If you do not check out your code, Copilot will do this for you.
    steps:
      - uses: actions/checkout@v4
        with:
          # We need to fetch the parent branch information for SonarCloud
          fetch-depth: 0

      - name: Read Node Version
        run: echo "NODE_VERSION=$(jq -crM .engines.node < package.json)" >> $GITHUB_OUTPUT
        shell: bash
        id: node_version

      - name: Use Node.js ${{ steps.node_version.outputs.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: '${{ steps.node_version.outputs.NODE_VERSION }}'
          cache: 'npm'

      - name: Setup NPM Auth for GitHub Package Registry
        run: echo '//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}' >> ~/.npmrc

      - name: Setup dependencies
        run: make node_modules
        env:
          # Needed to fetch packages from GitHub Package Registry
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Services
        run: |
          ./utils/enable-postgres-backend | grep '^export ' | sed 's/^export //g' >> $GITHUB_ENV
          ./utils/enable-redis-backend | grep '^export ' | sed 's/^export //g' >> $GITHUB_ENV
          ./utils/enable-firestore-backend | grep '^export ' | sed 's/^export //g' >> $GITHUB_ENV
