name: SonarCloud

on:
  workflow_run:
    workflows: ["CI"]
    types: [completed]

jobs:
  sonar:
    name: SonarCloud Analysis
    runs-on: ubuntu-latest-l
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    permissions:
      contents: read
      packages: read

    steps:
      # We need to checkout the code again to get the parent branch
      # information for SonarCloud;  This will fetch the same commit
      # as the CI workflow run, so we will have the same code checked
      # out as in the CI workflow
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.workflow_run.head_repository.full_name }}
          ref: ${{ github.event.workflow_run.head_sha }}
          # We need to fetch the parent branch information for SonarCloud
          fetch-depth: 0

      - name: Read Node Version
        run: echo "NODE_VERSION=$(jq -crM .engines.node < package.json)" >> $GITHUB_OUTPUT
        shell: bash
        id: node_version

      - name: Use Node.js ${{ steps.node_version.outputs.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: '${{ steps.node_version.outputs.NODE_VERSION }}'
          cache: 'npm'

      - name: Download Test Results
        uses: actions/download-artifact@v8
        with:
          name: test-artifacts
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Read PR number
        id: pr
        if: ${{ github.event.workflow_run.event == 'pull_request' }}
        run: echo "nr=$(cat .pr)" >> $GITHUB_OUTPUT

      - name: Build SonarCloud Arguments
        id: sonar_args
        run: |
          ARGS="-Dproject.settings=./.sonar-project.properties"
          if [ "${{ github.event.workflow_run.event }}" = "pull_request" ]; then
            ARGS="$ARGS -Dsonar.pullrequest.key=${{ steps.pr.outputs.nr }}"
            ARGS="$ARGS -Dsonar.pullrequest.branch=\"${{ github.event.workflow_run.head_branch }}\""
            ARGS="$ARGS -Dsonar.pullrequest.base=\"${{ github.event.workflow_run.pull_requests[0].base.ref }}\""
          fi
          echo "args=$ARGS" >> $GITHUB_OUTPUT

      # Run SonarCloud after completing tests and generating code coverage report
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: ${{ steps.sonar_args.outputs.args }}
